{% extends 'base.html.twig' %}
{% block title %}Weather forecast{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/city_finder.js') }}"></script>
{% endblock %}
{% block body %}
    <div class="city_finder" style="padding:50px 600px 250px 600px">
        <h5>Please, introduce a city to check the weather forecast:</h5>

        <label for="city_finder">City</label>
        <input type="text" name="city_finder" id="city_finder" class="form-control" autofocus>
        <br>
        <br>
        <div class="cities_suggested">
            <ul class="suggestions">
            </ul>
        </div>
        <div class="forecast_days">
        </div>
        <a href="https://www.weatherapi.com/" title="Free Weather API"><img src='//cdn.weatherapi.com/v4/images/weatherapi_logo.png' alt="Weather data by WeatherAPI.com" style="border:none"></a>
    </div>


{% endblock %}
